* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

ul {
    list-style: none;
    padding: 0;
}

/* INIZIO Logo */
header {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

header a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.2em;
    color: #33baf3;
    font-style: oblique;
    font-weight: bolder;
    text-decoration: none;
    width: 150px;
}

header a:hover {
    color: #33baf3;
    text-decoration: underline;
}

header img {
    margin-bottom: 15px;
    width: 56px;
    /* Height è implicita in realtà */
    height: auto;
}

/* FINE Logo */

.slider {
    position: relative;
}

.slide {
    background-color: black;
}

.slide img {
    width: 75vw;
    /* height: 350px; */
    object-fit: cover;
    object-position: center;
    display: none;
    animation: appear 1s linear;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    75% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

.slide.active img {
    display: block;
}

.arrows {
    display: flex;
    justify-content: space-between;
    padding: 0 1.25rem;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: tomato;
}

.pointers-wrapper {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translatex(-50%);
}

.pointer {
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
    width: 1rem;
    aspect-ratio: 1;
    margin-right: 0.5rem;
}

.pointer.active {
    background-color: tomato;
}