* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: rgb(230, 230, 230);
    /* overflow: hidden; */
}

ul {
    list-style: none;
    padding: 0;
    background-color: black;
}

li.slide {
    width: 95vw;
    height: 80vh;
}

.slider {
    position: relative;
}

.slide {
    animation: appear 1s linear;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    75% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}

li.slide,
.slide h3,
.slide p {
    display: none;
}

li.active,
.slide.active h3,
.slide.active p {
    display: block;
}

.arrows {
    display: flex;
    justify-content: space-between;
    padding: 0 1.25rem;
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: white;
}

/* .pointers {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

} */

.pointers-wrapper {
    position: absolute;
    bottom: 1rem;
    transform: translatex(-50%);
    left: 50%;
}

.pointer {
    background-color: gray;
    border: 1px solid black;
    border-radius: 50%;
    width: 1rem;
    aspect-ratio: 1;
    margin-right: 0.5rem;
}

.pointer.active {
    background-color: white;
}

/* NEW */
.slide__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    align-items: flex-end;
    color: white;
    padding-bottom: 5rem;
    /* background: rgb(0, 0, 0); */
    background: linear-gradient(200deg, rgb(0, 0, 0) 0%, transparent 40%, transparent 100%);
    /* background: -moz-linear-gradient(0deg,
            rgba(0, 0, 0, 0.149) 0%,
            rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(0deg,
            rgba(0, 0, 0, 0.8519782913165266) 0%,
            rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.8519782913165266) 0%,
            rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1); */
}

.slide__title {
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem 2rem 0;
}

.slide__description {
    /* width: 60%; */
    font-size: 1rem;
    line-height: 1.7em;
    padding-right: 1rem;
}

.thumbnails {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-col {
    height: 20vh;
}

.grid-col.active {
    z-index: 2;
    border: 5px solid grey;
}

.layover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    pointer-events: none
}