* {
    font-family: 'Roboto', sans-serif;
}

.logo img {
    width: 100px;
}

body {
    height: 100vh;
}

header {
    flex-basis: 0;
    background-color: #242424;
}

main {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 76, 76);
}

footer {
    flex-basis: 0;
    background-color: rgb(36, 36, 36);
    color: #FFF;
    font-size: 0.75rem;
}

footer a {
    color: #FFF;
    text-decoration: none;
}

@media (min-width:992px) {
    footer {
        font-size: 1rem;
    }
}

footer a:hover {
    color: #FFF;
    text-decoration: underline;
}

h1 {
    font-size: 1.5rem;
}

@media (min-width: 992px) {
    h1 {
        font-size: 2rem;
    }
}

button .navbar-toggler-icon {
    filter: invert(1);
}

/* .btns {
    font-size: 1.5rem;
} */

.btns input,
.btns select {
    border-radius: 1.5rem;
    background-color: white;
    color: black;
}

/* .btns select {
    padding: 0.5rem 1.5rem;
} */

/* .btns input {
    padding: 0.25rem 3rem;
} */

@media (min-width: 992px) {

    .btns {
        font-size: 1.5rem;
    }

    .btns input {
        padding: 0.25rem 3rem;
        font-size: 1.25rem;
    }

    .btns select {
        padding: 0.5rem 1.5rem;
        font-size: 1.25rem;
    }
}

#statusImg {
    width: 100px;
    cursor: pointer;
    /* display: none; */
}

.tableContainer {
    display: grid;
}

.square {
    /* width: 30px; */
    aspect-ratio: 1;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    background-color: grey;
}

/* @media (min-width:576px) {
    .square {
        width: 25px;
        font-size: 0.75rem;
    }
}

@media (min-width:768px) {
    .square {
        width: 35px;
        border: 2px solid white;
        font-size: 1rem;
    }
} */

@media (min-width:992px) {
    .square {
        /* width: 40px; */
        font-size: 1.5rem;
    }
}

@media (min-width:1200px) {
    .square {
        /* width: 50px; */
        font-size: 2rem;
    }
}

.square.clicked {
    background-color: green;
}

.square.clicked.bomb {
    background-color: tomato;
}

#info {
    cursor: pointer;
}

#info-layover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(41, 40, 40, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
}

.info-container {
    position: relative;
    background-color: rgb(206, 206, 206);
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 0.75rem;
}

.info-container h2 {
    font-size: 1.25rem;
}

#exit {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: tomato;
    border: 1px solid black;
    width: 20px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 576px) {
    .info-container {
        padding: 2rem 4rem;
        font-size: 1rem;
    }

    .info-container h2 {
        font-size: 1.5rem;
    }

    #exit {
        top: 20px;
        right: 30px;
        width: 30px;
    }
}

@media (min-width: 992px) {
    #info-layover {
        padding: 0 5rem;
    }

    .info-container {
        font-size: 1.25rem;
    }

    .info-container h2 {
        font-size: 2rem;
    }

    #exit {
        width: 40px;
    }
}

@media (min-width: 1200px) {
    .info-container h2 {
        font-size: 3rem;
    }

    #info-layover {
        padding: 0 5rem;
    }
}

@media (min-width: 1400px) {
    .info-container h2 {
        font-size: 3rem;
    }

    #info-layover {
        padding: 0 10rem;
    }
}